<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.vehicletax">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputInformation"
            android:label="Vehicle Information"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".AndroidDatabaseManager" />
        <activity
            android:name=".VehicleInformation"
            android:label="Vehicle Details" />
        <activity android:name=".Tax" />
        <activity android:name=".EditInformation" />
        <activity android:name=".FineDetails" />
        <activity android:name=".Reminder"/>

        <receiver android:name=".AlarmReceiver"  android:exported="true">
        </receiver>

    </application>

</manifest>